.home{height: 100%;}

.imggee{
display: flex;
flex-direction: column;
gap: 0.5px;
}
.home h2{font-style: italic;
font-size: 5rem;
font-weight: 800;

margin-top: -2rem;
margin-bottom: -1rem;
background-color: black;
color:rgb(16, 16, 151);

}
.home span{
    color: rgb(153, 17, 17);
}